{% extends "layout.html" %}
{% block title %}Patient List{% endblock %}
{% block content %}
<h1>Feature Selection</h1>
<p>It's your turn again. With deleting some of the patients, you chose all others to further proceed their data.
    Now it's time to select the features you want to visualize. Just check the boxes of features you want a histogram for.</p>
<h2>Explanation</h2>
<p>In total, there are 10 characteristics such as area, radius, concavity, symmetry, etc. Every category is splitted
into 'mean', 'se' and 'worst'. That means the arithmetic mean, the standard error and the maximum of the cell-categories
for each person were calculated and used for the classification.</p>
<form action="/submit_features" method="post">
    {% for feature in features %}
        <input type="checkbox" name="selected_features" value="{{ feature }}"> {{ feature }} <br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}