{% extends "layout.html" %}
{% block title %}Edit Patient{% endblock %}
{% block content %}
<h1>Edit Patient</h1>
<form method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="{{ patient['Name'] }}">
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" class="form-control" id="Age" name="Age" value="{{ patient['Age'] }}" min="1" max="110">
    </div>
    <div class="form-group">
        <label for="diagnosis">diagnosis</label>
        <input type="number" class="form-control" id="diagnosis" name="diagnosis" value="{{ patient['diagnosis'] }}" min="-1" max="1">
    </div>
    {% for key, value in patient.items() %}
    {% if key not in ['ID', 'Name', 'Age', 'diagnosis'] %}
    <div class="form-group">
        <label for="{{ key }}">{{ key }}</label>
        <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="{{ url_for('patient_list') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}